.login-container {
  margin: auto;
  width: 50vw;
  padding: 2em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-input {
  width: 100%;
}

.login-credentials {
  width: 100%;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
}

.primary-btn {
  width: 100%;
}
