<div
  class="sidebar"
  [class.expanded]="isSidebarExpanded"
  (mouseover)="toggleSidebar()"
  (mouseout)="toggleSidebar()"
>
  <ul>
    <li>
      <button (click)="logout()" class="sidebar-logout-button">
        <i class="fa fa-sign-out-alt"></i> <span class="text">Logout</span>
      </button>
    </li>

    <li>
      <a [routerLink]="['/dashboard']"
        ><i class="fa fa-chart-bar"></i>
        <span *ngIf="isSidebarExpanded">Dashboard</span></a
      >
    </li>
    <li>
      <a [routerLink]="['/profile']"
        ><i class="fa fa-user"></i>
        <span *ngIf="isSidebarExpanded">Profile</span></a
      >
    </li>
    <li>
      <a [routerLink]="['/calendar']"
        ><i class="fa fa-calendar"></i>
        <span *ngIf="isSidebarExpanded">Calendar</span></a
      >
    </li>

    <!-- Admin-specific options -->
    <ng-container *ngIf="isAdmin">
      <li>
        <a [routerLink]="['/admin-approval']"
          ><i class="fa fa-check"></i>
          <span *ngIf="isSidebarExpanded">Admin Approval</span></a
        >
      </li>
      <li>
        <a [routerLink]="['/user-overview']"
          ><i class="fa fa-users"></i>
          <span *ngIf="isSidebarExpanded">User Overview</span></a
        >
      </li>
    </ng-container>
  </ul>
</div>
