.admin-approval-container {
  width: 100%;
  transition: left 0.3s, width 0.3s;
  box-sizing: border-box;
}

.admin-approval-refresh {
  position: relative;
  height: 3.5em;
}

.admin-approval-refresh button {
  position: absolute;
  right: 0.5em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

table {
  border: 0.125em solid #1e3470;
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

th,
td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1a3fa3; /* Background color for headers */
  color: #fff;
  font-weight: bold;
}

td {
  background-color: #f4f6ff;
}

tr:hover td {
  background-color: #e0f7fa;
}

.sidebar:hover ~ .admin-approval-container {
  left: 200px;
  width: calc(100% - 200px);
}

button {
  margin-right: 0.5em;
}

@media (max-width: 768px) {
  .admin-approval-container {
    left: 0;
    width: 100%;
  }
}
