<div
  [ngClass]="{ 'admin-approval-container': true, expanded: isSidebarExpanded }"
>
  <div class="admin-approval-refresh">
    <button (click)="loadPendingAdmins()" class="secondary-btn">
      <span class="material-symbols-outlined"> refresh </span>
    </button>
  </div>
  <table class="admin-approval-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Request Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of pendingAdmins">
        <td>{{ admin.name + " " + admin.surname }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.phoneNumber }}</td>
        <td>{{ admin.requestDate | date }}</td>
        <td>
          <button (click)="approveAdmin(admin.id)" class="secondary-btn">
            Approve
          </button>
          <button (click)="rejectAdmin(admin.id)" class="secondary-btn">
            Reject
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
