.admin-approval-container {
  position: absolute;
  top: 0px;
  left: 60px;
  width: calc(100% - 60px); /* Table takes full width minus the sidebar */
  transition: left 0.3s, width 0.3s;
  box-sizing: border-box;
  background: linear-gradient(135deg, #1e3c72, #2a5298, #6dd5fa);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

th,
td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #3b83a5; /* Background color for headers */
  color: #fff;
  font-weight: bold;
}

td {
  background-color: #f9f9f9;
}

tr:hover td {
  background-color: #e0f7fa;
}

.sidebar:hover ~ .admin-approval-container {
  left: 200px;
  width: calc(100% - 200px);
}

@media (max-width: 768px) {
  .admin-approval-container {
    left: 0;
    width: 100%;
  }
}
