ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

li {
  flex: 1 1 auto;
  display: flex;
  padding: 0.5em;
  justify-content: center;
  border: 0.0625em solid #1e3470;
  border-radius: 2em;
}

li:hover {
  cursor: pointer;
}

p {
  font-size: 1em;
}
