<div class="profile-container">
  <h1>Update Your Profile</h1>
  <form (ngSubmit)="updateUser()">
    <div>
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="user.name" name="name" required />
    </div>

    <div>
      <label for="surname">Surname:</label>
      <input id="surname" [(ngModel)]="user.surname" name="surname" required />
    </div>

    <div>
      <label for="phonenumber">Phone Number:</label>
      <input
        id="phonenumber"
        [(ngModel)]="user.phonenumber"
        name="phonenumber"
        required
      />
    </div>

    <button type="submit">Update Profile</button>
  </form>
</div>
