.forgot-password-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.forgot-password-page {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.display-email {
  font-weight: bold;
}

.back-navigation {
  height: 2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.back-navigation a {
  display: flex;
}

span {
  display: flex;
}
