<div class="forgot-password-container">
  <div class="forgot-password-page page-1" *ngIf="isFirstStep">
    <div class="display">
      <h1>Forgot Password?</h1>
      <p>Don't worry, we got you. Please provide your email</p>
    </div>
    <app-input
      type="email"
      label="Email"
      placeholder="e.g. example@mail.com"
      [(value)]="userEmail"
      [required]="true"
    ></app-input>
    <button
      (click)="onSubmitEmail()"
      class="primary-btn"
      [disabled]="!userEmail"
    >
      Request OTP
    </button>
  </div>
  <div class="forgot-password-page page-2" *ngIf="isSecondStep">
    <div class="display">
      <h1>Password Reset</h1>
      <p>
        We sent an email to <strong>{{ userEmail }}</strong>
      </p>
    </div>
    <app-input
      label="OTP"
      placeholder="e.g. 1234"
      [(value)]="otp"
      [required]="true"
    ></app-input>
    <button (click)="onSubmitOTP()" class="primary-btn" [disabled]="!otp">
      Confirm OTP
    </button>
  </div>
  <div class="forgot-password-page page-3" *ngIf="isLastStep">
    <div class="display">
      <h1>Forgot Password?</h1>
      <p>Don't worry, we got you. Please provide your email</p>
    </div>
    <app-input
      type="password"
      label="New Password"
      placeholder="e.g. password123"
      [(value)]="newPassword"
      [required]="true"
    ></app-input>
    <app-input
      type="password"
      label="Confirm Password"
      placeholder="e.g. password123"
      [(value)]="confirmPassword"
      [required]="true"
    ></app-input>
    <button
      (click)="onSubmit()"
      class="primary-btn"
      [disabled]="!(newPassword && confirmPassword)"
    >
      Reset Password
    </button>
  </div>

  <p class="back-navigation">
    <a [routerLink]="['/login']"
      ><span class="material-symbols-outlined"> arrow_back </span> Back to
      login</a
    >
  </p>
</div>
